/* * 
{
  border: solid 2px brown;
} */

body {
  margin: 0px;
}
.page
{
		position: absolute;
		width: 100%;
		height: auto;
    background-color:rgba(216, 216, 63, 0.384);    
    display: flex;
    flex-direction: column;

  } 

section
{
    width: 100%;
    display: flex;    
    align-items: unset;
    font-size: 30px;
    font-weight: bold;   
  }
  #menu
  {
    width: 100%;
    height: auto;
  }

#animaux,#O,#E,#l
{
	
		width: 100%;
		height: auto;
  
    
  }
  #vi 
  {
    width: 100%;
    height: 40vw;
  }

  #ours_page,#elephant_page,#lion_page
  {
		filter: drop-shadow(0px 9px 6px rgba(46, 46, 36, 0.741));
		position: absolute;
		left: 24.5px;
		top: 18.5px;
		overflow: visible;
    -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color:lawngreen;
		white-space: nowrap;
		text-align: left;
		font-family: Stencil Std;
		font-style: normal;
		font-weight: bold;
		font-size: 10vw;
    color: rgba(255,255,255,1);
  }


#Mes_animaux_pr_f_r_s_ 
{
		filter: drop-shadow(0px 9px 6px rgba(46, 46, 36, 0.741));
		position: absolute;
		left: 24.5px;
		top: 18.5px;
    overflow: visible;
    -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color:lawngreen;  
		white-space: nowrap;
		text-align: left;
		font-family: Stencil Std;
		font-style: normal;
		font-weight: bold;
		font-size: 5vw;
    color: rgba(255,255,255,1);
  }
  
  
#Ours
{
    display: block;
    float: right;
    border: solid 2px #555;
    padding: 2px;
    margin: 20px 20px 20px 20px;
    height: 350px;
  }

#Lion
{
  display: block;
  float: right;
  border: solid 2px #555;
  padding: 2px;
  margin: 20px 20px 20px 20px;
  height: 350px;
  }

#Elephent
{
  display: block;
  float: right;
  border: solid 2px #555;
  padding: 2px;
  margin: 20px 20px 20px 20px;
  height: 350px;
  }
 
.header 
{
    background-color: #FEBC07;
    height: 400px;  
    margin: 15px 0px 0px 0px;  
    
  }

.content 
{
    background-color: #FBF2C6;
    height: 400px; 
    margin: 20px 0px 0px 0px;
    
  }
  
.sign-up 
{
    background-color: #F3F3F3;
    height: 400px; 
    margin: 20px 0px 0px 0px;
    
  }
  

  .feature-1 
  {
      background-color: #F5CF8E;
      width: 100%;
      height: auto;    
      display: flex;   
      flex-direction: row; 
      justify-content: space-around;
      align-items: center;   
      font-size: 15px;
      font-weight: normal; 
      margin: 20px 0px 0px 0px;
    }
   

footer
 {
  background-color: #B28A00;
      height: 100px;        
      display: flexbox;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;
      font-size: 15px;
      font-weight: normal;
      margin: 20px 0px 0px 0px;
  }

  p
  {
    width: 100%;
    /* white-space: nowrap; */
		text-align: left;
		font-family: 'Times New Roman', Times, serif;
		font-style: normal;
		font-weight: normal;
    font-size: 20px;
    text-justify: distribute ;
  }
 
  

    
 
  
 
  #AFPA
  { 
      border: solid 2px #555;
      padding: 2px;  
      width: 90%;
      height: auto; 
      margin-left: 10px;
    } 


  #findus
  {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;  
    width: 40%;
    height: 40vw;
    margin: 5vw 0 5vw 0 ;
    background-color: rgb(206, 105, 11);
  
  
    }

  #regForm
  {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;   
    width: 40%;
    height: 40vw;
    margin: 0;
    background-color: rgb(206, 105, 11);
      
  
    } 

.tab
  {
    width: 80%;
    height: auto;
  }

  .no {
    width: 95%;
    height: auto;
  }
  .yes
  {
    width: 100%;
    height: 40vw;
    margin: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #nextBtn
  {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    
  } 
/* #nextBtn
{
  display: flex;
  justify-content: flex-end;
 
} */

#RS
{    
  display: block;
  float: right;
  border: solid 2px #555;
  padding: 2px;
  margin: 5px 5px 5px 5px;
  }

@media(max-width: 768px){
 p{
    display: none;
  }


  #Ours
  {
    display: block;
    float: right;
    border: solid 2px #555;
    padding: 2px;
    margin: 20px 20px 20px 20px;
    height: 180px;
  }

#Lion
{
  display: block;
  float: right;
  border: solid 2px #555;
  padding: 2px;
  margin: 20px 20px 20px 20px;
  height: 180px;
  }

#Elephent
{
  display: block;
  float: right;
  border: solid 2px #555;
  padding: 2px;
  margin: 20px 20px 20px 20px;
  height: 180px;
  }

  .h1{
    color:blue;
    margin-right: 10vw;
  }
  .header 
  {
    display: flex;
    justify-content: space-between;   
    background-color: #FEBC07;
      height: 220px;  
      margin: 15px 0px 0px 0px;  
      
    }
  
  .content 
  {
    display: flex;
    justify-content: space-between;   
    background-color: #FBF2C6;
      height: 220px;   
      margin: 20px 0px 0px 0px;
      
    }
    
  .sign-up 
  {
    display: flex;
    justify-content: space-between;    
    background-color: #F3F3F3;
      height: 220px;  
      margin: 20px 0px 0px 0px;
      
    }
    
  .feature-1 
  { 
    display: flex;
      flex-direction: column; 
      justify-content: space-around;
      align-items: center;   

    }
  
   #f
   {
     width: 100%;
     height: auto;
   }   
  #AFPA
  { 
      border: solid 2px #555;
      padding: 2px; 
      width: 90%;
      height: auto;      
       
    }
  
   #findus
  {
    width: 70%;
    height: auto;
    margin: 5vw 0 2.5vw 0;  
  
  
    }
    
  #regForm
  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    height: auto;
    margin: 2.5vw 0 5vw 0;  
  
    }
  
    .tab
    {
      width: 100%;
      height: auto;
    }
    
  #nextBtn
  {
    display: flex;
    justify-content: flex-end;
   
  }
  footer
   {
    background-color: #B28A00;
        height: 100px;        
        display: flexbox;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
        font-size: 15px;
        font-weight: normal;
        margin: 20px 0px 0px 0px;
    }
  
 

  
  #RS
  {    
    display: block;
    float: right;
    border: solid 2px #555;
    padding: 2px;
    margin: 5px 5px 5px 5px;
    }

} 

